body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.5;
  font-family: 'open sans';
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 14;
  font-family: 'open sans';
}